
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222 84% 4%; /* A deep, dark blue */
    --foreground: 210 40% 98%;
    --card: 222 84% 10%;
    --card-foreground: 210 40% 98%;
    --popover: 222 84% 4%;
    --popover-foreground: 210 40% 98%;
    --primary: 226 100% 50%; /* palatinate-blue */
    --primary-foreground: 210 40% 98%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 314 64% 45%; /* fandango */
    --accent-foreground: 210 40% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 33% 25%;
    --input: 217 33% 20%;
    --ring: 216 92% 58%; /* azure */
    --radius: 9999px; /* full radius */
  }

  .dark {
    --background: 222 84% 4%; /* A deep, dark blue */
    --foreground: 210 40% 98%;
    --card: 222 84% 10%;
    --card-foreground: 210 40% 98%;
    --popover: 222 84% 4%;
    --popover-foreground: 210 40% 98%;
    --primary: 226 100% 50%; /* palatinate-blue */
    --primary-foreground: 210 40% 98%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 314 64% 45%; /* fandango */
    --accent-foreground: 210 40% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 33% 25%;
    --input: 217 33% 20%;
    --ring: 216 92% 58%; /* azure */
    --radius: 9999px; /* full radius */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  [data-template='minimal'] .lucide-react {
    @apply text-gray-600;
  }
  [data-template='dark'] .lucide-react {
      @apply text-gray-300;
  }
}
    