
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 226 100% 50%; /* #003CFE */
    --foreground: 210 40% 98%;
    --card: 222 84% 10%;
    --card-foreground: 210 40% 98%;
    --popover: 222 84% 4%;
    --popover-foreground: 210 40% 98%;
    --primary: 180 99% 52%; /* #0CECFE */
    --primary-foreground: 210 40% 98%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 322 70% 48%; /* #D127A0 */
    --accent-foreground: 210 40% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 33% 25%;
    --input: 217 33% 20%;
    --ring: 180 99% 52%; /* #0CECFE */
    --radius: 0.5rem;
  }

  .dark {
    --background: 226 100% 50%; /* #003CFE */
    --foreground: 210 40% 98%;
    --card: 222 84% 10%;
    --card-foreground: 210 40% 98%;
    --popover: 222 84% 4%;
    --popover-foreground: 210 40% 98%;
    --primary: 180 99% 52%; /* #0CECFE */
    --primary-foreground: 210 40% 98%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 322 70% 48%; /* #D127A0 */
    --accent-foreground: 210 40% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 33% 25%;
    --input: 217 33% 20%;
    --ring: 180 99% 52%; /* #0CECFE */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  [data-template='minimal'] .lucide-react {
    @apply text-black;
  }
  [data-template='dark'] .lucide-react {
      @apply text-gray-300;
  }
}

@layer utilities {
    .hover\:animate-gradient-bg:hover {
        background-size: 200% 200%;
        animation: gradient-animation 5s ease infinite;
    }
}

@keyframes gradient-animation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

@keyframes breathing-border {
  0%, 100% {
    box-shadow: 0 0 5px 0px hsla(var(--primary), 0.5), 0 0 10px 0px hsla(var(--accent), 0.5);
  }
  50% {
    box-shadow: 0 0 20px 5px hsla(var(--primary), 0.7), 0 0 30px 10px hsla(var(--accent), 0.7);
  }
}

.breathing-rounded-lines {
  animation: breathing-border 4s ease-in-out infinite;
  border-radius: var(--radius);
  border: 1px solid transparent;
}
    





